* {
    font-family: "Poppins", sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.top {
    height: 531px;
    .GUI {
        a {
            color: #0056f1;
        }
        border-radius: 12px;
        width: 100%;
        height: 100%;
        display: flex;
        &_svg {
            width: 276px;
            top: 120px;
            position: absolute;
            left: 70px;
        }
        &_left {
            width: 250px;
            height: 100%;
            background-color: #ececec;
            padding: 30px;
            display: flex;
            flex-direction: column;
            &_footer {
                margin-top: auto;
                img {
                    height: 26px;
                }
                p {
                    font-size: 12px;
                    color: #c2c2c2;
                    margin-top: 10px;
                }
            }
            &_sections {
                flex: 1;
                display: flex;
                justify-content: center;
                flex-direction: column;
                input {
                    border: none;
                    background-color: transparent;
                    padding: 6px 18px;
                    display: block;
                    color: #808080;
                    font-size: 20px;
                    font-weight: 500;
                    opacity: 0.6;
                    border-top: 1px solid #c2c2c2;
                    border-bottom: 1px solid #c2c2c2;
                }
                input:first-child {
                    border-top: none;
                }
                input:last-child {
                    border-bottom: none;
                }
            }
        }
        .log_page {
            padding: 20px 40px 85px 105px;
        }
        &_right {
            background-color: #f9f9f9;
            padding: 50px;
            flex: 1;
            &_login {
                h1 {
                    font-size: 29px;
                    font-weight: 700;
                }
                margin-top: 35px;
            }
            &_input {
                margin-top: 25px;
                div {
                    display: flex;
                    justify-content: space-between;
                    a {
                        font-size: 14px;
                        color: #b1b7bf;
                    }
                }
                label {
                    margin-bottom: 15px;
                    font-weight: 500;
                }
                input {
                    width: 100%;
                    height: 44px;
                    border: 0;
                    padding: 0 20px;
                    border-radius: 22px;
                    &::placeholder {
                        color: #b1b7bf;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
            &_login_button {
                background-color: #0056f1;
                border-radius: 18px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 0;
                width: 100px;
                height: 36px;
                margin-top: 40px;
                margin-left: auto;
            }
            &_signUp {
                text-align: center;
                margin-top: 35px;
            }
            &_kitUploader {
                h1 {
                    font-size: 22px;
                    font-weight: 700;
                }
                p {
                    font-size: 15px;
                    margin-top: 5px;
                    color: #191919;
                }
            }
            &_user_kitUploader {
                max-width: 300px;
                margin: auto;
                margin-top: 25px;
                a {
                    display: flex;
                    align-items: center;
                    color: black;
                    font-weight: 500;
                    &:hover {
                        box-shadow: none;
                    }
                }
                &_text {
                    flex: 1;
                }
                .dropdown-item {
                    img {
                        margin-right: 10px;
                    }
                }
            }
            &_kitUploading {
                margin-top: 30px;
                h2 {
                    font-size: 17px;
                    font-weight: 600;
                }
                &_imgArea {
                    padding: 10px;
                    border: 1px solid #bdbdbd;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    height: 225px;
                    overflow: scroll;
                    flex-direction: column;
                    span {
                        font-size: 14px;
                    }
                    button {
                        img {
                            width: 21px;
                            height: 21px;
                        }
                    }
                }
            }
            &_kitUploader_download {
                button {
                    margin-top: 30px;
                    width: 100%;
                    height: 190px;
                    background-color: white;
                    border: 1px dotted #bfbfbf;
                    border-radius: 16px;
                    .upload_text {
                        margin-top: 20px;
                        font-size: 17px;
                        font-weight: 500;
                        span {
                            color: #0056f1;
                            text-decoration: underline;
                        }
                    }
                    p {
                        color: #b1b7bf;
                        margin-top: 10px;
                    }
                }
            }
            &_uploader {
                h1 {
                    font-size: 22px;
                    font-weight: 700;
                }
                span {
                    margin-left: 10px;
                    font-size: 18px;
                    color: #191919;
                }
                p {
                    color: #212121;
                }
            }
            &_licence_area {
                margin-top: 50px;
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    color: #191919;
                    span {
                        font-size: 16px;
                        color: #b1b7bf;
                    }
                    a {
                        font-weight: 400;
                    }
                }
            }
            &_header {
                h1 {
                    font-size: 22px;
                    font-weight: bold;
                }
            }
            &_help {
                margin-top: 25px;
                &_text {
                    margin-top: 30px;
                    &:first-child {
                        margin-top: 0;
                    }
                    h3 {
                        font-size: 16px;
                        font-weight: normal;
                    }
                }
            }
            &_kitUpload_fail {
                margin-top: 15px;
                &_imgArea {
                    padding: 10px;
                    background-color: #fee8eb;
                    border: 1px solid #ea1b2b;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span {
                        font-size: 14px;
                        color: #ea1b2b;
                    }
                    button {
                        img {
                            width: 21px;
                            height: 21px;
                        }
                    }
                }
            }
            &_uploadedImage {
                h2 {
                    width: 320px;
                    display: flex;
                    align-items: center;
                    font-size: 22px;
                    font-weight: 700;
                    margin-top: 30px;
                    text-align: left;
                    img {
                        margin-right: 10px;
                    }
                }
                .thumblue {
                    width: 55px;
                }
            }
            &_uploadedImage,
            &_uploadSucces {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                img {
                    width: 205px;
                }
                h2 {
                    font-size: 22px;
                    font-weight: 700;
                    margin-top: 30px;
                }
                p {
                    font-size: 14px;
                    font-weight: 500;
                    margin-top: 20px;
                }
                &_Done {
                    background-color: #0056f1;
                    border-radius: 18px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0;
                    width: 100px;
                    height: 36px;
                    margin-top: 40px;
                    p {
                        margin: 0;
                    }
                }
            }
        }
        &_user {
            .dropdown-menu {
                padding: 10px;
                margin-bottom: 15px;
                border: none;
                .dropdown-item {
                    padding: 10px 5px;
                    img {
                        margin-right: 5px;
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    color: black;
                    font-weight: 500;
                    margin: 0;
                }
            }
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 0;
                margin-bottom: 15px;
                color: #191919;
                font-weight: 600;
                &:hover {
                    box-shadow: none;
                    color: white;
                }
            }
            img {
                width: 43px;
                height: 43px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}

.GUI_right_kitUploading_imgArea {
    list-style: none;
    padding: 0;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%; /* Satır genişliği tamamen dolduruluyor */

    span {
        max-width: 280px; /* İsim için maksimum genişlik */
        white-space: nowrap; /* İsim tek satırda gösterilsin ve taşmasın */
        overflow: hidden; /* Taşan içeriği gizle */
        text-overflow: ellipsis; /* Taşan kısmı üç nokta ile göster */
    }
}

.logout-button {
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    border: none;
    background-color: transparent;
    &:hover {
        background-color: #e7e7e7;
    }
}
